@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#recentRequestsContainer .requestsScollableDiv::-webkit-scrollbar {
    width: 2px !important;
    border-radius: 100% !important;
    background-color: #e5e5e585 !important;
}

#recentRequestsContainer .requestsScollableDiv::-webkit-scrollbar-thumb {
    background-color: #3a3a3c;
    border-radius: 100% !important;
}

.leftBox {
    background-color: #1C1C1E;
}

.rightBox {
    background-color: #2C2C2C;
}

.continueButton {
    background: 'linear-gradient(to right, #0A84FF, #5E5CE6)',
}

.m_f1cb205a {
    background-color: #1C1C1E;
}

.buttonHovered:hover {
    background: linear-gradient(to right, #5E5CE6, #0A84FF);
    transition: transform 0.3s ease, background 0.3s ease;
}

.subscriptionPackages:hover {
    background: linear-gradient(to right, #0A84FF, #5E5CE6);
    transition: transform 0.3s ease, background 0.3s ease;
    transform: scale(1.07) translateY(2px);
    border: #D3D3D3 4px solid;
}


/* Apply styles to text elements inside .subscriptionPackages on hover */

.subscriptionPackages:hover .content h3,
.subscriptionPackages:hover .content h1,
.subscriptionPackages:hover .content p,
.subscriptionPackages:hover .content ul li,
.subscriptionPackages:hover .content ul li svg {
    color: #ffffff;
}

.gradient-background {
    background: linear-gradient(to right, #4e9af1, #9b6fe6, #f06a8b);
    /* Gradient background */
    padding: 5px 10px;
    /* Adds some padding around the text */
    color: white;
    /* White text color */
    border-radius: 5px;
    /* Optional: Adds rounded corners */
}

.cards .card {
    background-color: #0D0C0C;
}

.gradient-background-box {
    display: inline-block;
    /* Ensures the background only wraps around the text */
    background: linear-gradient(to right, #0A84FF80, transparent);
    /* Blue to transparent gradient */
    color: white;
    /* White text color */
    padding: 6px 20px 6px 5px;
    border-left: #0A84FF 3px solid;
    /* Adds padding to the text inside the box */
    /* Optional: Adds rounded corners to the box */
}


/* Apply styles to button inside .subscriptionPackages on hover */

.subscriptionPackages:hover button {
    background-color: #ffffff;
    color: black;
}

@media (max-width: 768px) {
    .pin-input-container input {
        width: 70px;
        height: 80px;
        font-size: 4rem;
    }
    .subscriptionPackages:hover {
        border: #D3D3D3 6px solid;
        border-radius: 30px;
        transform: none;
    }
    .subscriptionPackages {
        border: 1px solid white;
        background-color: #000;
        margin: 4px 0px;
        border-radius: 30px;
    }
    .gradient-background-box {
        padding: 6px 50px 6px 50px;
    }
}

@media (min-width: 1535px) {
    .gradient-background-box {
        padding: 20px 20px 30px 7px;
    }
}

@media (min-width: 1900px) {
    .gradient-background-box {
        padding: 30px 30px 30px 7px;
    }
}